@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
        url('./fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #F6F7FB;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #000000;
}

input[type='checkbox'] {
    width: 23px;
    height: 23px;
}

svg {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

@media(min-width: 770px) {
    .container > div {
        display: grid;
        grid-template-columns: 35% 1fr;
        gap: 4rem;
    } 
}