body {
    background-color: #F6F7FB;
}

a {
    text-decoration: none;
    color: #000000;
}

input[type='checkbox'] {
    width: 23px;
    height: 23px;
}

svg {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

@media(min-width: 770px) {
    .container > div {
        display: grid;
        grid-template-columns: 35% 1fr;
        gap: 4rem;
    } 
}